################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XO.Website/Startup.cs
/XO.Website/obj
/XO.Website/bin/Debug/netcoreapp3.1
/XO.Website/appsettings.json
/XO.Website/appsettings.Development.json
/XO.Repository.Interfaces/obj
/XO.Repository.Interfaces/bin/Debug/netcoreapp3.1
/XO.Repository/obj
/XO.Repository/bin/Debug/netcoreapp3.1
/XO.Entities/obj
/XO.Entities/bin/Debug/netcoreapp3.1
/XO.Common/obj
/XO.Common/bin/Debug/netcoreapp3.1
/XO.Business.Interfaces/obj
/XO.Business.Interfaces/bin/Debug/netcoreapp3.1
/XO.Business/obj
/XO.Business/bin/Debug/netcoreapp3.1
/XO.API/Startup.cs
/XO.API/Program.cs
/XO.API/obj
/XO.API/Keys
/XO.API/bin/Debug/netcoreapp3.1
/XO.API/appsettings.json
/XO.API/appsettings.Development.json
/XO.Entities/Models
